// font family
$title-font: "Montserrat", sans-serif;
$body-font: "Nunito", sans-serif;

// colors
$purple: #35359e;
$light-purple: #5252e3;
$yellow: #ea9d13;
$cyan: #6bedd4;
$pink: #ea6ca0;
$white: #fff;
$dark-title: #0f273f;
$text: #282e34;
$light-text: #d4d4e7;
